.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  li {
    list-style-type: none;
  }
}

.todo
{
  display: flex;
  flex-direction: column;
  align-items: strech;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  &__banner
  {
    display: banner;
    margin: 0 0 20px;
    padding: 20px;
    text-align: center;
    color: #476085;
    background: #ffc300;
  }

  .list-item {
    text-align: left;
  }

  &__form
  {
    display: flex;
    margin: 20px 0;

    &-input
    {
      flex: 1 1;
    }

    &-add
    {
      flex: 0 0 80px;
      margin-left: 20px;
    }
  }
}